In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df_salaries = pd.read_csv("Salaries.csv")

In [4]:
df_salaries.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [5]:
df_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [6]:
df_salaries['BasePay'].mean()

66325.44884050643

In [7]:
df_salaries['OvertimePay'].max()

245131.88

In [8]:
df_salaries[df_salaries['EmployeeName'] == "JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [9]:
df_salaries[df_salaries['EmployeeName'] == "JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [10]:
df_salaries[df_salaries["TotalPayBenefits"]==df_salaries['TotalPayBenefits'].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [11]:
df_salaries[df_salaries["TotalPayBenefits"]==df_salaries['TotalPayBenefits'].min()]["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [12]:
df_salaries['Year']

0         2011
1         2011
2         2011
3         2011
4         2011
          ...
148649    2014
148650    2014
148651    2014
148652    2014
148653    2014
Name: Year, Length: 148654, dtype: int64

In [13]:
df_salaries[(df_salaries['Year']>=2011) & (df_salaries['Year']<=2014)].groupby(by=['Year'])['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [15]:
df_salaries['JobTitle'].nunique()

2159

In [18]:
df_salaries['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [35]:
df_salaries_2013 = df_salaries[df_salaries['Year']==2013]

In [38]:
df_salaries_title_2013 = df_salaries_2013['JobTitle'].value_counts()

In [42]:
df_salaries_title_2013[df_salaries_title_2013==1].sum()

202

In [45]:
len(df_salaries[df_salaries['JobTitle'].str.contains('chief',case=False)]['JobTitle'])

627

In [47]:
df_salaries['Job Title Length'] = df_salaries['JobTitle'].apply(lambda title: len(title))

In [50]:
df_salaries[['Job Title Length','TotalPayBenefits']].corr()

                  Job Title Length  TotalPayBenefits
Job Title Length          1.000000         -0.036878
TotalPayBenefits         -0.036878          1.000000

C:\Users\dsouz\AppData\Local\Temp\ipykernel_12764\2723216600.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_salaries[condition]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).